/* ////////////////////////////////////////////////
  ISTRUZIONI PER GESTIRE HEADER
/////////////////////////////////////////////////// */
header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
}

header.hidden {
  transform: translateY(-100%);
}
